body {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    background: url(../images/body.jpg);
}
section{
  margin-top: -65px;
}
h1 {font-size: 50px; margin: -10px 0 -20px 0;}
article {
  width: 70%;
  margin: 0 auto;
}

#score {float: left;}
#life {float: right;}
